h2 {
  color: #0a4870;
  font-weight: 500;
}
.quizebanner {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.quizebanner .content_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.quizebanner .content_cards .main_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.quizebanner .content_cards .arrows {
  position: relative;
  display: flex;
  width: 400px;
  height: auto;
  margin: 0;
  opacity: 0;
  transform: translateY(-150px);
  transition: 1s;
}
.quizebanner.show_animate .content_cards .arrows {
  transform: translateY(0px);
  opacity: 1;
}
.quizebanner .content_cards .arrows img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.quizebanner .content_cards .main_cont:first-child {
  margin-top: 0px;
}
.quizebanner .animation {
  position: absolute;
  z-index: -10;
  overflow-x: hidden;
}
.quizebanner .content_cards:nth-child(even) .main_cont {
  flex-direction: row-reverse;
}
.quizebanner .content_cards .main_cont .cont_image {
  width: 450px;
  height: 450px;
}
.quizebanner .content_cards .main_cont .cont_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.quizebanner .content_cards .main_cont .cont_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 450px;
  padding: 12px;
}
.quizebanner .content_cards .main_cont .cont_details h1 {
  color: #182533;
}
.quizebanner .content_cards .main_cont .cont_details h4 {
  color: #182533;
  text-align: justify;
}
.cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.quize_ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
}
.quize_ul .booking-card {
  position: relative;
  width: 300px;
  display: flex;
  flex: 0 0 300px;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #0a4870;
  transition: 0.3s;
}
.quize_ul .booking-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 72, 112, 0);
  transition: 0.3s;
}
.quize_ul .booking-card .book-container {
  height: 200px;
}
.quize_ul .booking-card .book-container .content {
  position: relative;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform: translateY(-200px);
  transition: 0.3s;
}
.quize_ul .booking-card .book-container .content .btn {
  border: 3px solid white;
  padding: 10px 15px;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.quize_ul .booking-card .book-container .content .btn:hover {
  background: white;
  border: 0px solid white;
  color: #0a4870;
}
.quize_ul .booking-card .informations-container {
  flex: 1 0 auto;
  padding: 20px;
  background: #f0f0f0;
  transform: translateY(206px);
  transition: 0.3s;
}
.quize_ul .booking-card .informations-container .title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
.quize_ul .booking-card .informations-container .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 50px;
  margin: auto;
  background: #0a4870;
}
.quize_ul .booking-card .informations-container .price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.quize_ul .booking-card .informations-container .price .icon {
  margin-right: 10px;
}
.quize_ul .booking-card .informations-container .more-information {
  opacity: 0;
  transition: 0.3s;
}
.quize_ul
  .booking-card
  .informations-container
  .more-information
  .info-and-date-container {
  display: flex;
}
.quize_ul
  .booking-card
  .informations-container
  .more-information
  .info-and-date-container
  .box {
  flex: 1 0;
  padding: 15px;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  font-weight: bold;
  font-size: 0.9em;
}
.quize_ul
  .booking-card
  .informations-container
  .more-information
  .info-and-date-container
  .box
  .icon {
  margin-bottom: 5px;
}
.quize_ul
  .booking-card
  .informations-container
  .more-information
  .info-and-date-container
  .box.info {
  color: #ec992c;
  margin-right: 10px;
}
.quize_ul .booking-card .informations-container .more-information .disclaimer {
  margin-top: 20px;
  font-size: 0.8em;
  color: #7d7d7d;
}
.quize_ul .booking-card:hover::before {
  background: rgba(10, 72, 112, 0.6);
}
.quize_ul .booking-card:hover .book-container .content {
  opacity: 1;
  transform: translateY(0px);
}
.quize_ul .booking-card:hover .informations-container {
  transform: translateY(0px);
}
.quize_ul .booking-card:hover .informations-container .more-information {
  opacity: 1;
}

@media (max-width: 768px) and (min-width: 577px),
  (max-width: 992px) and (min-width: 769px),
  (max-width: 576px) {
  .quize_ul .booking-card::before {
    background: rgba(10, 72, 112, 0.6);
  }
  .quize_ul .booking-card .book-container .content {
    opacity: 1;
    transform: translateY(0px);
  }
  .quize_ul .booking-card .informations-container {
    transform: translateY(0px);
  }
  .quize_ul .booking-card .informations-container .more-information {
    opacity: 1;
  }
  .quizebanner .main_cont {
    flex-direction: column;
  }
  .quizebanner .main_cont:nth-child(even) {
    flex-direction: column;
  }
  .devition_section img {
    object-fit: contain;
  }
}
.credits {
  display: table;
  background: #0a4870;
  color: white;
  line-height: 25px;
  margin: 10px auto;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}
.credits a {
  color: #e3ebf1;
}

h1 {
  margin: 10px 20px;
}
.devition_section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
}
.devition_section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.devition_section h1 {
  position: absolute;
  font-size: 65px;
  color: azure;
}
.text_heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_heading h6 {
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.arrow_down {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  width: 100%;
  height: 400px;
  opacity: 0;
  transform: translateY(-150px);
  transition: 1s;
}
.arrow_down.show_animate {
  transform: translateY(0);
  opacity: 1;
}
.arrow_down img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
p.bar {
  margin: 50px;
  font-size: 22px;
}

.title {
  position: relative;
  transition: 1s ease-in-out;
  transform: translateY(100px);
  opacity: 0;
}

.title.new-class {
  transform: translateY(0px);
  opacity: 1;
}
