/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
button {
  cursor: pointer;
}
.sd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 50px;
}
.sd .user_content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
}
.sd .user_content .content_right {
  width: 60%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sd .user_content .content_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sd .user_content .content_left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sd .user_content .content_left .left_signbtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sd .user_content .content_left .left_signbtns button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  outline: none;
  border: none;
  background: #ebf4ff;
  margin: 12px;
  width: 60%;
  border-radius: 8px;
}
.sd .user_content .content_left .left_signbtns button:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  transition: all 0.4s ease-in-out; /* Animation duration */
}
.sd .user_content .content_left .left_signbtns button svg {
  width: 28px;
  height: 28px;
  background: white;
  padding: 4px;
  border-radius: 50%;
  margin: 5px;
}
.sd .user_content .content_left .left_border_b {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sd .user_content .content_left .left_border_b:before {
  position: absolute;
  content: "";
  width: 500px;
  height: 1px;
  background: rgb(113, 128, 150, 0.3);
}
.sd .user_content .content_left .left_border_b h5 {
  background-color: white;
  color: #718096;
  z-index: 1;
}
.sd .user_content .content_left .left_form_border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sd .user_content .content_left .left_form_border input {
  margin: 12px;
  padding: 16px;
  width: 60%;
  border-radius: 8px;
  outline: none;
  border: none;
  background: #ebf4ff;
}

.sd .user_content .content_left .left_form_border input:focus {
  box-shadow: rgba(183, 199, 218, 0.8) 0px 0px 0px 2px;
}
.sd .user_content .content_left .left_form_border button {
  position: relative;
  background: #87fab798;
  width: 60%;
  padding: 16px;
  outline: none;
  border: none;
  border-radius: 8px;
  overflow: hidden;
}
.sd .user_content .content_left .left_form_border button span {
  position: relative;
  color: #222;
}
.sd .user_content .content_left .left_form_border button:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  background: linear-gradient(135deg, #2ebdc4 0%, #68e5b2 100%);
  transition: 0.6s ease-in;
  background-color: line;
}
.sd .user_content .content_left .left_form_border button:hover:before {
  width: 100%;
}
.sd .user_content .content_left .left_form_border p {
  margin-top: 20px;
  width: 60%;
  color: #718096;
}
.sd .user_content .content_left .left_form_border p a {
  border-bottom: 2px solid #222;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: dotted;
}

@media (max-width: 768px) and (min-width: 577px),
  (max-width: 1200px) and (min-width: 769px),
  (max-width: 576px) {
  .sd .user_content {
    flex-direction: column;
    margin: 8px;
  }
  .sd .user_content .content_left {
    width: 100%;
  }
  .sd {
    position: relative;
    height: auto;
    margin-top: 100px;
    overflow: hidden;
  }
  .sd .user_content .content_right {
    width: 95%;
    height: auto;
    margin: 12px;
  }
  .sd .user_content .content_left .left_form_border input {
    width: 90%;
    padding: 8px;
  }
  .sd .user_content .content_left .left_form_border button {
    width: 87%;
    padding: 8px;
  }
}
